{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.{tsx,ts,json,js,css}",
      "options": {
        "semi": true,
        "tabWidth": 2,
        "useTabs": false,
        "bracketSpacing": true
      }
    }
  ],
  "importOrder": ["^~/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "classProperties", "decorators-legacy"]
}
